In [1]:
import pandas as pd
import csv
from classes import Demand, Item, Drone, DroneType, Recharge, Warehouse

In [2]:
demand_frame = pd.read_csv('Demand_Day2.csv')
param = pd.read_csv('Parameters.csv')

In [3]:
demand_frame.head()

,WH,Demand ID,Item,Day,X,Y,Z,DeliveryFrom,DeliveryTo,DeliveryFailure
0,WH1,D1,Item-2,Day 2,-389,-995,55,8:10:00,9:00:00,0
1,WH1,D2,Item-3,Day 2,-2287,606,120,8:15:00,8:30:00,0
2,WH1,D3,Item-4,Day 2,1223,1368,174,8:30:00,9:00:00,0
3,WH1,D4,Item-5,Day 2,2375,-961,110,11:00:00,12:00:00,0
4,WH1,D5,Item-1,Day 2,-988,2188,120,10:00:00,10:30:00,0

In [4]:
def store_demands(demands_file):
    demands = []
    csvrf = demands_file
    for index, row in csvrf.iterrows():
        demand = Demand()
        # demand.demand_id, demand.WH_id, demand.item_id, demand.day, demand.x, demand.y, demand.z, demand.del_start, demand.del_end = int(row["Demand ID"][-1]), int(row["WH"][-1]),  int(row["Item"][-1]), row["Day"], row["X"], row["Y"], row["Z"], row["DeliveryFrom"], row["DeliveryTo"]
        did = row["Demand ID"]
        did = did[did.index("D")+1:]
        did = int(did)
        demand.demand_id = did
        whid = row["WH"]
        whid = whid[whid.index("H")+1:]
        whid = int(whid)
        demand.WH_id = whid
        iid = row["Item"]
        iid = iid[iid.index("-")+1:]
        iid = int(iid)
        demand.item_id = iid
        day = row["Day"]
        day = day[day.index(" ")+1:]
        day = int(day)
        demand.day = day
        demand.x = row["X"]
        demand.y = row["Y"]
        demand.z = row["Z"]
        f_hrs, f_mins, f_secs = row["DeliveryFrom"].split(sep = ':')
        f_hrs, f_mins, f_secs = int(f_hrs), int(f_mins), int(f_secs)
        f_secs += (f_hrs-8) * 3600 + f_mins * 60
        demand.del_start = f_secs
        t_hrs, t_mins, t_secs = row["DeliveryTo"].split(sep = ':')
        t_hrs, t_mins, t_secs = int(t_hrs), int(t_mins), int(t_secs)
        t_secs += (t_hrs-8) * 3600 + t_mins * 60
        demand.del_end = t_secs
        demands.append(demand)
        
    return demands

In [5]:
lis = store_demands(demand_frame)
for i in lis:
    print(i.demand_id, i.WH_id, i.item_id, i.day, i.x, i.y, i.z, i.del_start, i.del_end)

1 1 2 2 -389 -995 55 600 3600
2 1 3 2 -2287 606 120 900 1800
3 1 4 2 1223 1368 174 1800 3600
4 1 5 2 2375 -961 110 10800 14400
5 1 1 2 -988 2188 120 7200 9000
6 1 5 2 9547 7896 180 12600 14400
7 1 3 2 826 -2378 106 1800 3600
8 1 5 2 -1352 1319 146 5400 6300
9 1 1 2 1384 -1580 76 3600 5400
10 1 3 2 -1892 -1711 103 3600 10800
11 1 5 2 2116 -1325 151 3600 9000
12 1 2 2 -687 636 116 1800 3600
13 1 4 2 -1963 1198 44 900 1500
14 1 4 2 -1361 2136 101 11700 14400
15 1 3 2 8927 6782 60 8700 14400
16 1 3 2 -1327 651 179 1800 3600
17 1 3 2 -892 -230 73 7800 10200
18 1 2 2 1713 -1870 57 4200 4800
19 1 1 2 -713 678 188 9000 14400
20 1 3 2 -1666 -557 113 13200 14400
21 1 1 2 -2248 -273 97 12600 14400
22 1 2 2 -2424 -154 98 4200 4800
23 1 1 2 -6000 -5600 147 600 1800
24 1 4 2 -582 -2478 106 5100 6600
25 1 1 2 -2058 -1913 132 13800 14400
26 1 4 2 773 -2279 180 10200 12000
27 1 4 2 -777 1646 183 13200 14400
28 1 1 2 1955 -2229 181 1800 3600
29 2 1 2 2378 1047 92 4200 4800
30 2 4 2 1713 -331 97 9000 14400
31 2 4 2 9200 7800 70 10800 14400
32 2 4 2 2263 -2241 125 12600 14400
33 2 2 2 1150 1090 93 4200 4800
34 2 2 2 -802 -1878 67 3600 5400
35 2 1 2 -1287 -2420 112 3600 10800
36 2 1 2 -71 1009 199 3600 9000
37 2 1 2 -715 -1713 28 1800 3600
38 2 2 2 -2226 -83 63 900 1500
39 2 1 2 872 1054 148 11700 14400
40 2 4 2 -1987 984 28 1800 3600
41 2 1 2 934 -1172 145 2700 3600
42 2 4 2 -1912 689 142 7200 9000
43 2 1 2 7649 7535 78 5400 9000
44 2 4 2 7289 6641 150 4200 4800
45 2 1 2 6223 7164 127 3600 5400
46 2 2 2 6979 6971 179 3600 10800
47 2 1 2 1147 -1815 100 7200 9000
48 2 3 2 -374 -1103 101 7200 12600
49 2 5 2 8900 6700 109 9600 14400
50 2 2 2 2300 1700 45 13200 14400

In [6]:
item1 = Item()
item1.item_id = 1
item1.weight = 1
item1.volume = 200
item2 = Item()
item2.item_id = 2
item2.weight = 6
item2.volume = 400
item3 = Item()
item3.item_id = 3
item3.weight = 5
item3.volume = 750
item4 = Item()
item4.item_id = 4
item4.weight = 1
item4.volume = 1200
item5 = Item()
item5.item_id = 5
item5.weight = 1
item5.volume = 3000

In [7]:
drone_frame = pd.read_csv('drone_table.csv')

In [8]:
drone_frame

,Drone Type,Drones Available,Battery Capacity\n(mAh),Base Weight (kg),Payload Capacity (KG),Payload Capacity (cu.cm),Max Slots,Max Speed (m/s)
0,DroneType1,0,2000,2.0,5,200,1,M
1,DroneType2,0,2500,2.5,6,500,1,M
2,DroneType3,0,3000,3.0,7,1000,2,M
3,DroneType4,0,4000,3.5,8,2000,2,M
4,DroneType5,0,5000,4.0,9,3000,2,M
5,DroneType6,0,10000,5.0,10,5000,4,M

In [9]:
for index, rows in param.iterrows():
    if index >= 90:
        drone_frame["Drones Available"][index-90] = rows["Value"]

C:\Users\SHIVAM~1\AppData\Local\Temp/ipykernel_524/2458716885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_frame["Drones Available"][index-90] = rows["Value"]

In [10]:
drone_frame

,Drone Type,Drones Available,Battery Capacity\n(mAh),Base Weight (kg),Payload Capacity (KG),Payload Capacity (cu.cm),Max Slots,Max Speed (m/s)
0,DroneType1,10,2000,2.0,5,200,1,M
1,DroneType2,8,2500,2.5,6,500,1,M
2,DroneType3,5,3000,3.0,7,1000,2,M
3,DroneType4,4,4000,3.5,8,2000,2,M
4,DroneType5,8,5000,4.0,9,3000,2,M
5,DroneType6,10,10000,5.0,10,5000,4,M

In [11]:
def compare(info1, info2):
    if info1.del_start > info2.del_start:
        return 1
    
    elif info1.del_start == info2.del_start:
        if info1.del_end > info2.del_end:
            return 1
        elif info1.del_end < info2.del_end:
            return -1
        else:
            return 0
    
    else:
        return -1

In [12]:
from functools import cmp_to_key
lis = sorted(lis, key = cmp_to_key(compare))

In [13]:
import pandas as pd
import classes as cl


# returns list of drone type objects, list of WareHouse objects, list of recharge objects, list of zone objects, Max Speed, Energy Cost

def parameter_extractor(path):
    data = pd.read_csv(path)

    drones = []
    wh = []
    recs = []
    zones = []

    MS = 0
    EC = 0

    num_drones = 0
    num_wh = 0
    num_recs = 0
    num_zones = 0

    for ind in data.index:
        tp = data['Type'][ind]
        par = data['Parameter_ID'][ind]
        if ind < 2:
            continue

        if tp[0] == 'D':
            num_drones = max(num_drones, ord(tp[5]) - 48)

        if tp[0] == 'N':
            num_zones = max(num_zones, ord(par[1]) - 48)

        if tp[0] == 'R':
            num_recs = max(num_recs, ord(par[0]) - 64)

        if tp[0] == 'W':
            num_wh = max(num_wh, ord(par[2]) - 48)

    # print(num_recs)

    for _ in range(num_drones):
        drones.append(cl.DroneType())

    for _ in range(num_zones):
        zones.append(cl.Zone())

    for _ in range(num_recs):
        recs.append(cl.Recharge())

    for _ in range(num_wh):
        wh.append(cl.Warehouse())

    for ind in data.index:
        par = data['Parameter_ID'][ind]
        val = data['Value'][ind]
        unit = data['Unit'][ind]
        tp = data['Type'][ind]

        if par == 'MaxSpeed (M)':
            MS = val

        elif par == 'Cost(C)':
            EC = val

        else:

            if tp[0] == 'N':
                t = ord(par[1]) - 48 - 1
                v = ord(par[2]) - 48 - 1
                pf = par[0]

                if pf == 'X':
                    zones[t].X[v] = val
                elif pf == 'Y':
                    zones[t].Y[v] = val
                else:
                    zones[t].Z[v] = val

            elif tp[0] == 'W':
                t = ord(par[2]) - 48 - 1
                if par[3] == 'X':
                    wh[t].x = val
                elif par[3] == 'Y':
                    wh[t].y = val
                else:
                    wh[t].z = val

            elif tp[0] == 'R':
                t = ord(par[0]) - 65
                if par[1] == 'X':
                    recs[t].x = val
                elif par[1] == 'Y':
                    recs[t].y = val
                else:
                    recs[t].z = val

            else:
                t = ord(tp[5]) - 48 - 1
                pf = par[0]

                if pf == 'P':
                    drones[t].P = val
                elif pf == 'Q':
                    drones[t].Q = val
                elif pf == 'A':
                    drones[t].A = val
                elif pf == 'B':
                    drones[t].B = val
                elif pf == 'C':
                    drones[t].C = val
                else:
                    drones[t].count = val

    return drones, wh, recs, zones, MS, EC

In [14]:
parameter = parameter_extractor('Parameters.csv')


for i in range(len(parameter[0])):
    parameter[0][i].base_weight = drone_frame["Base Weight (kg)"][i]
    parameter[0][i].payload_weight_cap = drone_frame["Payload Capacity (KG)"][i]
    parameter[0][i].payload_volume_cap = drone_frame["Payload Capacity (cu.cm)"][i]
    print(parameter[0][i].base_weight, parameter[0][i].payload_weight_cap, parameter[0][i].payload_volume_cap)

2.0 5 200
2.5 6 500
3.0 7 1000
3.5 8 2000
4.0 9 3000
5.0 10 5000

In [15]:
def checkIfavailable(demand, drone):
    if drone.curr_volume + Items[demand.item_id - 1].volume > drone.payload_volume_cap:
        return False
    
    if drone.base_weight + Items[demand.item_id - 1].weight > drone.payload_weight_cap:
        return False
    
    if drone.curr_count + 1 > drone.count:
        return False
    
    if checkCapacity(demand, drone) == False:
        return False
    
    return True

In [17]:
def assign(demand, drone, Drone_Dict):
    Drone_Dict[drone].append(demand)
    drone.curr_volume += Items[demand.item_id - 1].volume
    drone.base_weight += Items[demand.item_id - 1].weight
    # something something

In [18]:
Drone_Dict = {
    "DroneType1":[],
    "DroneType2":[],
    "DroneType3":[],
    "DroneType4":[],
    "DroneType5":[],
    "DroneType6":[]
}

In [ ]:
for i in